
<!-- Head头部 -->
<!DOCTYPE HTML>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <base th:href="${#request.getContextPath()}+'/'"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <link rel="dns-prefetch" href="//basic.juooo.com/" />
    <title>聚橙网-票务网_演唱会门票_演出订票平台_演出资讯_订票热线400-185-8666</title>
    <meta name="keywords" content="聚橙网,票务网,演唱会,演唱会门票,演出网,订票网,音乐会,儿童剧,舞台剧,音乐剧,亲子节目" />
    <meta name="description" content="聚橙网打造国内专业的票务网和演出订票平台，为您提供各种演唱会、流行音乐会、古典音乐、舞台剧、儿童剧演出官方在线购票服务，实时更新最新门票预定、演出信息和订票信息，安全快捷，订票热线400-185-8666。" />
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <link rel="stylesheet" href="css/base_1.css">
            <link rel="stylesheet" type="text/css" href="css/base-second.css">
                <link rel="stylesheet" type="text/css" href="css/index-new.css">
                <link rel="stylesheet" type="text/css" href="css/index.css">
                <link rel="stylesheet" type="text/css" href="css/idangerous.swiper.css">


    <script>
        var searchSuggestionUrl = 'http://search.juooo.com/Index/suggestion',
            itemDomain          = 'http://item.juooo.com/',
            imgDomain           = 'http://image.juooo.com',
            homeDomain          = 'http://www.juooo.com/',
            starDomain          = 'http://star.juooo.com/',
            venueDomain         = 'http://venue.juooo.com/',
            searchDomain        = 'http://search.juooo.com/',
            buyDomain           = 'http://buy.juooo.com/',
            cardDomain          = 'http://card.juooo.com/',
            activityDomain      = 'http://activity.juooo.com/',
            scoresDomain        = 'http://scores.juooo.com/',
            aroundDomain        = 'http://around.juooo.com/',
            topicDomain         = 'http://zhuanti.juooo.com/',
            passportDomain      = 'http://passport.juooo.com/',
            basicDomain         = '//basic.juooo.com/',
            clickDomain         = 'https://click.juooo.com/',
            systemVar           = {
                'host_icon_arr' : [1],
        };
    </script>
    <script>
        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
            window.location = "http://m.juooo.com";
        }
    </script>

    <!-- 百度统计 -->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?214739940fca835e1b074f9d8be81ccb";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>


</head>
<body style = "">
