<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="">

   <resultMap id="" type="">

   </resultMap>

   <!--查询语句001-->

   <!--删除语句001-->

    <!--更新语句001-->



   <!--测试2-->

   <!--测试3-->

    <!--测试4-->
</mapper>